<!DOCTYPE html>

<head>
	<title>The State of Music</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--loading jQuery -->
	<script src="{{url_for('static',filename = 'libs/jquery.min.js')}}"></script>
	<!--loading bootstrap -->
	<link rel="stylesheet" href="{{url_for('static',filename = 'libs/bootstrap.min.css')}}">
	<script src="{{url_for('static',filename = 'libs/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename = 'libs/popper.min.js')}}"></script>
	<!--loading roboto font -->
	<link rel='stylesheet' id='font-css' href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' type='text/css' media='all' />

	<link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename = 'libs/leaflet/dist/leaflet.css')}}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<!-- Modal -->
	<div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="modalAboutTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">About</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

				<!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#home">How does this work?</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#menu1">Using our API</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#menu2">Meet the team</a>
		</li>
	</ul>

<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane container active" id="home">
			<div class='flowchart' id='flow'><img src="{{url_for('static',filename = 'images/flow.png')}}" width="100%"></div>
			<p> The website utilises music performance information (name, event location and genre) extracted from <a href="https://developer.ticketmaster.com/products-and-docs/apis/getting-started/">ticketmaster's</a> and <a
							href="https://www.eventbrite.com/platform/api">eventbrite's</a> API for the next 30 days. </p>
			<p> The genre of playing artists were then match with the one classified by <a href="https://developer.spotify.com/documentation/web-api/">Spotify’s API</a> to ensure higher accuracy of the events' genre. </p>
			<p> All events are then grouped by genre according to a dictionary created from web-scraping <a href="https://en.wikipedia.org/wiki/List_of_music_styles">the List of Music Styles in Wikipedia</a>.</p>
			<p> Explaination of the normalisation method here </p>
		</div>
	<div class="tab-pane container fade" id="menu1">Our APIs can be accessed through the magic of the internet</div>

	<div class="tab-pane container fade" id="menu2">
						 <p>The state of music is a coursework presented by Group 7 - International Super Friends for
							 <a href="https://www.ucl.ac.uk/bartlett/casa/">UCL CASA's</a> module CASA0009 Spatial Data Capture, Storage and Analysis.</p>
							<p> Feel free to check our project on <a href="https://github.com/ucl-sdc-team-7/the-state-of-music"> Github</a>.</p>
							 <table>
          				<thead></thead>
          				<tbody class="table">

										<tr>
										<td><div class='avatar' id='cleo'><img src="{{url_for('static',filename = 'images/cleo.jpeg')}}" width="100%"></div></td>
										<td>
											<a href="https://github.com/cleoau"><div class='github' id='cleogithub'> <img src="{{url_for('static',filename = 'images/github.png')}}" style="float: right;"></div></a>
											<a href="https://www.linkedin.com/in/cleoau/"><div class='linkedin' id='cleolinkedin'> <img src="{{url_for('static',filename = 'images/linkedin.png')}}" style="float: right;"></div></a>
											<a href="mailto:cleoau.1996@gmail.com">	<div class='email' id='cleomail'><img src="{{url_for('static',filename = 'images/email.png')}}" style="float: right;" ></div></a>
											<b>Cleo Au</b><br><i>Team Secretary and Marketeer</i><p>Genre Grouping, User Experience, Content Management, Development Testing, Text Layout and Editing </p>
										</td>
									</tr>

									<tr>
									<td><div class='avatar' id='will'><img src="{{url_for('static',filename = 'images/will.jpeg')}}" width="100%"></div></td>
									<td>
										<a href="https://github.com/williamlow"><div class='github' id='willgithub'> <img src="{{url_for('static',filename = 'images/github.png')}}" style="float: right;"></div></a>
										<a href="https://www.linkedin.com/in/william-low-19898174/"><div class='linkedin' id='willlinkedin'> <img src="{{url_for('static',filename = 'images/linkedin.png')}}" style="float: right;"></div></a>
										<a href="mailto:william.d.low@gmail.com">	<div class='email' id='willmail'><img src="{{url_for('static',filename = 'images/email.png')}}" style="float: right;" ></div></a>
										<b>William Low</b><br><i>Love to put things in boxes</i><p>Genre Grouping, User Experience, User Interface, Modal Page and Buttons, Tooltips Creation</p>
									</td>
								</tr>

								<tr>
								<td><div class='avatar' id='pili'><img src="{{url_for('static',filename = 'images/pili.jpeg')}}" width="100%"></div></td>
								<td>
									<a href="https://github.com/pilimayora"><div class='github' id='piligithub'> <img src="{{url_for('static',filename = 'images/github.png')}}" style="float: right;"></div></a>
									<a href="https://www.linkedin.com/in/pili-mayora/"><div class='linkedin' id='pililinkedin'> <img src="{{url_for('static',filename = 'images/linkedin.png')}}" style="float: right;"></div></a>
									<a href="mailto:pili.mayora@gmail.com">	<div class='email' id='pilimail'><img src="{{url_for('static',filename = 'images/email.png')}}" style="float: right;" ></div></a>
									<b>Pili Mayora</b><br><i>Technical Intergration Wizard</i><p>Technical Intergration, API Management, Endpoint Creation, Trouble Shooting, User Interface, User Experience</p>
								</td>
							</tr>

							<tr>
							<td><div class='avatar' id='richa'><img src="{{url_for('static',filename = 'images/richa.jpeg')}}" width="100%"></div></td>
							<td>
								<a href="https://github.com/richa-sud"><div class='github' id='richagithub'> <img src="{{url_for('static',filename = 'images/github.png')}}" style="float: right;"></div></a>
								<a href="https://www.linkedin.com/in/richa-sud-aab13397/"><div class='linkedin' id='richalinkedin'> <img src="{{url_for('static',filename = 'images/linkedin.png')}}" style="float: right;"></div></a>
								<a href="mailto:richasud@gmail.com">	<div class='email' id='richamail'><img src="{{url_for('static',filename = 'images/email.png')}}" style="float: right;" ></div></a>
								<b>Richa Sud</b><br><i>Grandmaster of User Interface</i><p>User Interface, Website Layout and Design, Map Creation, Barcharts</p>
							</td>
						</tr>

						<tr>
						<td><div class='avatar' id='matt'><img src="{{url_for('static',filename = 'images/matt.jpeg')}}" width="100%"></div></td>
						<td>
							<a href="https://github.com/nottuswehttam"><div class='github' id='mattgithub'> <img src="{{url_for('static',filename = 'images/github.png')}}" style="float: right;"></div></a>
							<a href="mailto:ms0064a@alumni.american.edu">	<div class='email' id='mattmail'><img src="{{url_for('static',filename = 'images/email.png')}}" style="float: right;" ></div></a>
							<b>Matthew Sutton</b><br><i>Resident American Geography Expert</i><p>Database Management, Data Cleaning, Data Normalisation, API Management, User Experience</p>
						</td>
					</tr>
          				</tbody>
      					</table>
	</div>
			</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
				</div>
			</div>
		</div>

	<div id='container'>


		<!--<div id = "cityMap"></div> div to hold map at city level -->
		<div class="row">
			<div class="col-md-3" id="sidePanel">
				<!-- loading logos here -->
				<div id="logo">
					<input type="image" src="{{url_for('static',filename = 'images/logo.png')}}" onclick="updatelogo()" width="100%">
				</div>

				<div class="row">
					<div id="displayInfo">
						<div id="infoText">
							<h5>The state of <span id="titleGenre">music</span> in <span id="titleLoc">the United States</span></h5><small><span id="titleCategory">The most popular types of live music</span> in the next 30 days</small>
						</div>
						<small>
							<div id="InfoSummary">
							</div>
						</small>
					</div>
				</div>

				<div clss="row">
					<div id="displayStats">
						<h6><span id="displayStatsTitle">Which states feel the strongest about each genre?</span></h6>
						<span id="stats-text"></span>
						<svg id="stats" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet"></svg>
					</div>
				</div>

			</div>
			<div class="col-md-9" id="mainPanel">
				<!-- loading icons here -->
				<div class="row" id="navbar">

					<div class="col-md-4">
						<div class="row">

							<div class="col-md-4">
								<div class='genre-icon' id='top'>
									<input type="image" src="{{url_for('static',filename = 'images/all.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>

							<div class="col-md-4">
								<div class='genre-icon' id='pop'>
									<input type="image" src="{{url_for('static',filename = 'images/pop.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>

							<div class="col-md-4">
								<div class='genre-icon' id='rock'>
									<input type="image" src="{{url_for('static',filename = 'images/rock.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>

						</div>
					</div>

					<div class="col-md-4">
						<div class="row">

							<div class="col-md-4">
								<div class='genre-icon' id='hip_hop'>
									<input type="image" src="{{url_for('static',filename = 'images/hiphop.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>

							<div class="col-md-4">
								<div class='genre-icon' id='rnb'>
									<input type="image" src="{{url_for('static',filename = 'images/rnb.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>


							<div class="col-md-4">
								<div class='genre-icon' id='classical_and_jazz'>
									<input type="image" src="{{url_for('static',filename = 'images/classical_jazz.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>


						</div>
					</div>

					<div class="col-md-4">
						<div class="row">

							<div class="col-md-4">
								<div class='genre-icon' id='electronic'>
									<input type="image" src="{{url_for('static',filename = 'images/electronic.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>

							<div class="col-md-4">
								<div class='genre-icon' id='country_and_folk'>
									<input type="image" src="{{url_for('static',filename = 'images/country_folk.png')}}" onclick="updateData()" width="115%">
								</div>
							</div>

							<div class="col-md-4">
								<div class='about-icon' id='about'>
									<input type="image" src="{{url_for('static',filename = 'images/about.png')}}" onclick="$('#modalAbout').modal()" width="115%">
								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="row">
					<div id="mapCanvas">
						<div id="countymap"></div>
						<!-- div and svg to hold the map. -->
						<svg id="statesvg" viewBox="0 0 960 500" preserveAspectRatio="xMidYMid meet"></svg>
						<div id="tooltip"></div><!-- div to hold tooltip. -->

					</div>
</body>


<!-- D3 graphing libraries -->
<script src="{{url_for('static',filename = 'libs/d3.min.js')}}"></script>
<script src="{{url_for('static',filename = 'libs/d3-scale-chromatic.v1.min.js')}}"></script>
<!-- topojson library -->
<script src="{{url_for('static',filename = 'libs/topojson.v1.min.js')}}"></script>

<!-- leaflet libraries -->
<script src="{{url_for('static',filename = 'libs/leaflet/dist/leaflet.js')}}"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script src="{{url_for('static',filename = 'libs/leaflet-choropleth/dist/choropleth.js')}}"></script>
<script src="{{url_for('static',filename = 'libs/L.Control.Button.js')}}"></script>

<!-- global variables and helper functions -->
<script src="{{url_for('static',filename = 'js/globals.js')}}"></script>
<script src="{{url_for('static',filename = 'js/helpers.js')}}"></script>

<!-- external data -->
<script src="{{url_for('static',filename = 'data/countyData.js')}}"></script><!-- temporary data file -->
<script src="{{url_for('static',filename = 'data/state_boundaries_w_margin.js')}}"></script><!-- for leaflet zoom levels -->
<script src="{{url_for('static',filename = 'data/states_geo.js')}}"></script><!-- state linestrings -->
<script src="{{url_for('static',filename = 'data/counties_geo.js')}}"></script><!-- county geoJSON -->

<!-- main scripts for the state of music -->
<script src="{{url_for('static',filename = 'js/usVenues.js')}}"></script><!-- marks venues. -->
<script src="{{url_for('static',filename = 'js/usCounties.js')}}"></script><!-- creates US counties. -->
<script src="{{url_for('static',filename = 'js/uStates.js')}}"></script><!-- creates US States. -->
<script src="{{url_for('static',filename = 'js/statistics.js')}}"></script><!-- creates statistics in side bar. -->
<script src="{{url_for('static',filename = 'js/statistics_top.js')}}"></script>
<script src="{{url_for('static',filename = 'js/app.js')}}"></script><!-- draws everything -->


</html>
