<!DOCTYPE html>
<head>
	<title>The State of Music</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--loading jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--loading bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!--loading roboto font -->
	<link rel='stylesheet' id='font-css'  href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' type='text/css' media='all' />

	<link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>

<body>
<div id='container'>

	<!--<div id = "cityMap"></div> div to hold map at city level -->

	<div class="row" id = "navbar">
		<!-- loading logos here -->
		<div class="col-md-3" id="logo">
			<a href=#>
				<img src="{{url_for('static',filename = 'images/logo.png')}}" alt="the state of music logo" height="100">
				<img src="{{url_for('static',filename = 'images/logo2.png')}}" alt="the state of music logo" height="100">
			</a>
		</div>
		<!-- loading icons here -->
		<div class="col-md-9">
			<div class="row">
				<div class="col-sm-2 col-md-2">
					<a id = 'icon' href=#>
					<img src="{{url_for('static',filename = 'images/pop.png')}}" alt="pop music icon" height="100"> </a>
				</div>

				<div class="col-sm-2 col-md-2">
					<a id = 'icon' href=#>
					<img src="{{url_for('static',filename = 'images/indie.png')}}" alt="indie music icon" height="100"></a>
				</div>

				<div class="col-sm-2 col-md-2">
					<a id = 'icon' href=#>
							<img src="{{url_for('static',filename = 'images/country.png')}}" alt="country music icon" height="100"></a>
				</div>

				<div class="col-sm-2 col-md-2">
					<a id = 'icon' href=#>
							<img src="{{url_for('static',filename = 'images/classic.png')}}" alt="classic music icon" height="100"></a>
				</div>

				<div class="col-sm-2 col-md-2">
					<a id = 'icon' href=#>
							<img src="{{url_for('static',filename = 'images/hiphop.png')}}" alt="hiphop music icon" height="100"></a>
				</div>

				<div class="col-sm-2 col-md-2">
					<a id = 'icon' href=#>
							<img src="{{url_for('static',filename = 'images/metal.png')}}" alt="metal music icon" height="100"></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id = "mainPanel">
		<div class="col-md-3" id = SidePanel>
			<div id = "about">
				<div id="displayInfo">
					<h3>About</h3>
					<small>
	     			This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
					</small>
				</div>
			</div>

			<div id = "stats">
				<div id="displayStats">
					<h4>These states love music:</h4>
					<small>
	     			This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
					</small>
				</div>
			</div>
		</div>

		<div class="col-md-9" id = "mapCanvas">
			<div id="tooltip"></div><!-- div to hold tooltip. -->
			<svg id="statesvg"></svg> <!-- svg to hold the map. -->
		</div>
	</div>

</div>
</body>


<!-- SOURCE: https://gist.github.com/NPashaP/a74faf20b492ad377312 -->
<script src="{{url_for('static',filename = 'uStates.js')}}"></script> <!-- creates uStates. -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
	function tooltipHtml(n, d){	/* function to create html content string in tooltip div. */
		return "<h4>"+n+"</h4><table>"+
			"<tr><td>Low</td><td>"+(d.low)+"</td></tr>"+
			"<tr><td>Average</td><td>"+(d.avg)+"</td></tr>"+
			"<tr><td>High</td><td>"+(d.high)+"</td></tr>"+
			"<small>(click to zoom)</small>"+
			"</table>";
	}

	var classicData ={};	/* Sample random data. */
	["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
	"ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH",
	"MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT",
	"CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN",
	"WI", "MO", "AR", "OK", "KS", "LA", "VA"]
		.forEach(function(d){
			var low=Math.round(100*Math.random()),
				mid=Math.round(100*Math.random()),
				high=Math.round(100*Math.random());
			classicData[d]={low:d3.min([low,mid,high]), high:d3.max([low,mid,high]),
					avg:Math.round((low+mid+high)/3), color:d3.interpolate("#b51062", "white")(low/100)};
		});

	/* draw states on id #statesvg */
	uStates.draw("#statesvg", classicData, tooltipHtml);

	d3.select(self.frameElement).style();
</script>

</html>
