<!DOCTYPE html>

<head>
	<title>The State of Music</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--loading jQuery -->
	<script src="{{url_for('static',filename = 'libs/jquery.min.js')}}"></script>
	<!--loading bootstrap -->
	<link rel="stylesheet" href="{{url_for('static',filename = 'libs/bootstrap.min.css')}}">
	<script src="{{url_for('static',filename = 'libs/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename = 'libs/popper.min.js')}}"></script>
	<!--loading roboto font -->
	<link rel='stylesheet' id='font-css' href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' type='text/css' media='all' />

	<link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename = 'libs/leaflet/dist/leaflet.css')}}">
</head>

<body>
	<!-- Modal -->
	<div class="modal fade" id="modelAbout" tabindex="-1" role="dialog" aria-labelledby="modelAboutTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">About Us</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Cleo text -->
					<p> The state of music is a coursework presented by Group 7 - International Super Friends (Cleo Au, William Low, Pili Mayora, Richa Sud and Matthew Sutton) for UCL CASA's module CASA0009 Spatial Data Capture, Storage and Analysis.</p>
					<p> The website utilises music performance information (name, event location and genre) extracted from <a href="https://developer.ticketmaster.com/products-and-docs/apis/getting-started/">ticketmaster's</a> and <a
							href="https://www.eventbrite.com/platform/api">eventbrite's</a> API for the next 30 days. </p>
					<p> The genre of playing artists were then match with the one classified by <a href="https://developer.spotify.com/documentation/web-api/">Spotify’s API</a> to ensure higher accuracy of the events' genre. </p>
					<p> All events are then grouped by genre according to a dictionary created from web-scraping <a href="https://en.wikipedia.org/wiki/List_of_music_styles">the List of Music Styles in Wikipedia</a>.</p>
					<p> Explaination of the normalisation method here... (from Matt) </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id='container'>

		<div id="countymap"></div>

		<!--<div id = "cityMap"></div> div to hold map at city level -->
		<div class="row">
			<div class="col-md-3" id="sidePanel">
				<!-- loading logos here -->
				<div id="logo">
					<input type="image" src="{{url_for('static',filename = 'images/logo.png')}}" onclick="updatelogo()" width="100%">
				</div>

				<div id="displayInfo">
					<h3>About</h3>
					<h4>the State of Music</h4>
					<small>
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
						This is some stuff about music in the US.
					</small>
				</div>

				<div id="displayStats">
					<h5>Top 5 states:</h5>
					<svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet"></svg>
				</div>

			</div>
			<div class="col-md-9" id="mainPanel">
				<!-- loading icons here -->
				<div class="row" id="navbar">

					<div class="col-md-6">
						<div class="row">
							<div class="col-md-3">
								<div class='genre-icon' id='pop'>
									<input type="image" src="{{url_for('static',filename = 'images/pop.png')}}" onclick="updateData()" width="100%">
								</div>
							</div>

							<div class="col-md-3">
								<div class='genre-icon' id='rock'>
									<input type="image" src="{{url_for('static',filename = 'images/rock.png')}}" onclick="updateData()" width="100%">
								</div>
							</div>

							<div class="col-md-3">
								<div class='genre-icon' id='hiphop'>
									<input type="image" src="{{url_for('static',filename = 'images/hiphop.png')}}" onclick="updateData()" width="100%">
								</div>
							</div>

							<div class="col-md-3">
								<div class='genre-icon' id='rnb'>
									<input type="image" src="{{url_for('static',filename = 'images/rnb.png')}}" onclick="updateData()" width="100%">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="row">


							<div class="col-md-3">
								<div class='genre-icon' id='classical_jazz'>
									<input type="image" src="{{url_for('static',filename = 'images/classical_jazz.png')}}" onclick="updateData()" width="100%">
								</div>
							</div>

							<div class="col-md-3">
								<div class='genre-icon' id='electronic'>
									<input type="image" src="{{url_for('static',filename = 'images/electronic.png')}}" onclick="updateData()" width="100%">
								</div>
							</div>

							<div class="col-md-3">
								<div class='genre-icon' id='country_folk'>
									<input type="image" src="{{url_for('static',filename = 'images/country_folk.png')}}" onclick="updateData()" width="100%">
								</div>
							</div>

							<div class="col-md-3">
								<div class='about-icon' id='about'>
									<input type="image" src="{{url_for('static',filename = 'images/about.png')}}" onclick="$('#modelAbout').modal()" width="100%">
								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="row">
					<div id="mapCanvas">
						<!-- div and svg to hold the map. -->
						<svg id="statesvg" viewBox="0 0 960 630" preserveAspectRatio="xMidYMid meet"></svg>
						<div id="tooltip"></div><!-- div to hold tooltip. -->

					</div>
</body>


<script src="{{url_for('static',filename = 'libs/d3.min.js')}}"></script><!-- D3 graphing library -->
<script src="{{url_for('static',filename = 'libs/d3-scale-chromatic.v1.min.js')}}"></script>
<script src="{{url_for('static',filename = 'libs/topojson.v1.min.js')}}"></script><!-- topojson library -->
<script src="{{url_for('static',filename = 'libs/leaflet/dist/leaflet.js')}}"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script src="{{url_for('static',filename = 'libs/leaflet-choropleth/dist/choropleth.js')}}"></script>
<script src="{{url_for('static',filename = 'js/constants.js')}}"></script>
<script src="{{url_for('static',filename = 'data/usCounties_geo.js')}}"></script>
<script src="{{url_for('static',filename = 'data/countyData.js')}}"></script><!-- temporary data file -->
<script src="{{url_for('static',filename = 'js/state_boundaries_w_margin.js')}}"></script><!-- for leaflet zoom levels -->
<script src="{{url_for('static',filename = 'js/usCounties.js')}}"></script><!-- creates US counties. -->
<script src="{{url_for('static',filename = 'js/uStates.js')}}"></script><!-- creates US States. -->
<script src="{{url_for('static',filename = 'js/statistics.js')}}"></script><!-- creates statistics in side bar. -->
<script src="{{url_for('static',filename = 'js/app.js')}}"></script><!-- draws everything -->


</html>
